.text {
  color: #000000;
  font-family: var(--sub-font-family);
  font-weight: var(--sub-font-weight);
  font-size: 20px;
}

.load {
  color: #000000;
  font-family: var(--normal-font-family);
  font-weight: var(--normal-font-weight);
  font-size: 14px;
}

.searchArea {
  margin-top: 6px;
  width: 360px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
  text-align: left;
  padding-left: 38px;
  font-family: var(--normal-font-family);
  font-size: 15px;
}

.searchArea:focus {
  outline: 0;
}

.Button {
  display: flex;
  width: 186px;
  height: 40px;
  background-color: #353f4f;
  border: none;
  border-radius: 9px;
  color: #ffffff;
  font-family: var(--normal-font-family);
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 13.5px;
  align-items: center;
  transition: 200ms;
}

.Button:focus {
  outline: 0;
  transition: 100ms;
  background-color: #59687f;
}

.PinSVG {
  height: 24px;
  margin-right: 10px;
  margin-left: 8px;
}

.searchBox {
  position: relative;
  margin-bottom: 50px;
}

.searchGlass {
  height: 25px;
  position: absolute;
  margin-left: 6px;
  margin-top: 12px;
}

.Suggestions-Area {
  display: flex;
  align-items: center;
  text-align: left;
  height: 40px;
  width: 340px;
  margin-left: 30px;
  outline: none;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.Suggestions-Text {
  color: #000000;
  font-family: var(--normal-font-family);
  font-size: 13px;
  font-weight: normal;
}

.SuggestionsPin {
  width: 15px;
  margin-right: 13px;
}

.SuggestionsContainer {
  position: absolute;
  width: 400px;
  margin-top: -2px;
  background: #ffffff;
  border-radius: 0 0 9px 9px;
  border: 2px solid #000 !important;
  z-index: 20;
  justify-content: center;
}

.Suggestions-Area:nth-child(n + 2) {
  display: flex;
  margin-bottom: 3px;
  border-top: solid 1px #c4c4c4;
}

@media only screen and (max-width: 600px) {
  .text {
    color: #000000;
    font-family: var(--normal-font-family);
    font-size: 15px;
    margin-bottom: 4px;
    margin-top: 6px;
  }

  .searchArea {
    /* margin-top: 6px; */
    width: 300px;
    height: 33px;
    border-radius: 9px;
    border-color: #000000;
    border-width: 2px;
    text-align: left;
    padding-left: 38px;
    font-family: var(--normal-font-family);
    font-size: 15px;
  }

  .searchArea:focus {
    outline: 0;
  }

  .Button {
    margin-top: 10px;
    display: flex;
    width: 200px;
    height: 40px;
    background-color: #353f4f;
    border: none;
    border-radius: 9px;
    color: #ffffff;
    font-family: var(--normal-font-family);
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 12px;
    align-items: center;
    transition: 200ms;
    margin-bottom: 2px;
  }

  .Button:focus {
    outline: 0;
    transition: 100ms;
    background-color: #59687f;
  }

  .PinSVG {
    height: 22px;
    margin-right: 10px;
    margin-left: 8px;
  }

  .searchBox {
    position: relative;
  }

  .searchGlass {
    height: 25px;
    position: absolute;
    margin-left: 6px;
    margin-top: 12px;
  }

  .Suggestions-Area {
    display: flex;
    align-items: center;
    text-align: left;
    height: 35px;
    width: 280px;
    margin-left: 30px;
    outline: none;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }

  .Suggestions-Text {
    color: #000000;
    font-family: var(--normal-font-family);
    font-size: 11px;
    font-weight: normal;
  }

  .SuggestionsPin {
    width: 13px;
    margin-right: 13px;
  }

  .SuggestionsContainer {
    position: absolute;
    width: 340px;
    margin-top: -2px;
    background: #ffffff;
    border-radius: 0 0 9px 9px;
    border: 2px solid #000 !important;
    z-index: 20;
    justify-content: center;
  }

  .Suggestions-Area:nth-child(n + 2) {
    display: flex;
    margin-bottom: 3px;
    border-top: solid 1px #c4c4c4;
  }
}
