/* #body {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 5px;
  border: none;
}

#text {
  font-size: 15px;
  color: #fff;
  margin: 10px;
} */

svg {
  fill: #d95040;
  width: 30px;
  height: 30px;
}
