.GoogleMap {
  width: 600px;
  height: 550px;
}

@media screen and (max-width: 1200px) {
  .GoogleMap {
    width: 450px;
    margin-left: -25px;
  }
}

@media screen and (max-width: 500px) {
  .GoogleMap {
    width: 350px;
    margin-left: 25px;
  }
}
